body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}
.main /* for class */
{
    background-image: url("https://media.istockphoto.com/photos/modern-brick-wall-3d-rendering-picture-id1140265911?k=20&m=1140265911&s=170667a&w=0&h=EixAdYsUU9EfjZYkIi2nE5EpXUGfDJrBZlFPyrKSM0A=");
    background-size: contain;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.nav a /* for element in class */
{
   color: #000;
}
footer
{
    padding-top: 50px;
}
.icons
{
    height: 20px;
    width: 20px
}
 li
{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.main1
{
    background-image: url("https://media.istockphoto.com/photos/modern-brick-wall-3d-rendering-picture-id1140265911?k=20&m=1140265911&s=170667a&w=0&h=EixAdYsUU9EfjZYkIi2nE5EpXUGfDJrBZlFPyrKSM0A=");
    padding-top: 50px;
    padding-bottom: 50px;
}
label
{
    text-align: start;

}
